export BUILDDIR="/root/rpmbuild"
export PRETTYSPEC="/usr/local/bin/prettyspec.sh"

export NAME=`echo $PACKAGE | awk -F'==' '{ print $1 }'`
export VERSION=`echo $PACKAGE | awk -F'==' '{ print $2 }'`

export SRCDIR="${BUILDDIR}/SOURCES"
export ORGSPECDIR="${BUILDDIR}/SPECS"
export VERSPECDIR="${BUILDDIR}/VERSPECS"
export PRESPECDIR="${BUILDDIR}/PRESPECS"
export PRESCLDIR="${BUILDDIR}/PRESCLS"
export VERSCLDIR="${BUILDDIR}/VERSCLS"
export OUTPUTDIR="${BUILDDIR}/OUTPUT"
export DOWNLOADDIR="${BUILDDIR}/DOWNLOADS"
export REPO="http://repos.pip2scl.dk"

export QUIET="no"

mkdir -p  ${SRCDIR} >/dev/null 2>&1
mkdir -p  ${VERSPECDIR} >/dev/null 2>&1
mkdir -p  ${PRESPECDIR} >/dev/null 2>&1
mkdir -p  ${PRESCLDIR} >/dev/null 2>&1
mkdir -p  ${VERSCLDIR} >/dev/null 2>&1
mkdir -p  ${OUTPUTDIR} >/dev/null 2>&1
mkdir -p  ${DOWNLOADDIR} >/dev/null 2>&1

export ORGSPECFILEURL="${REPO}/SPECS/${NAME}-${VERSION}.original.spec"
export ORGSPECFILE="${ORGSPECDIR}/${NAME}-${VERSION}.original.spec"
export VERSPECFILE="${VERSPECDIR}/${NAME}-${VERSION}.verified.spec"
export VERSPECFILEURL="${REPO}/SPECS/${NAME}-${VERSION}.verified.spec"
export PRESPECFILE="${PRESPECDIR}/${NAME}-${VERSION}.pre.spec"
export SCLFILE="${VERSCLDIR}/${NAME}-${VERSION}.scl.spec"
export VERSCLFILE="${VERSCLDIR}/${NAME}-${VERSION}.verified.scl.spec"
export PRESCLFILE="${PRESCLDIR}/${NAME}-${VERSION}.pre.scl"

export OURNAME="${NAME}-${VERSION}.tar.gz"
export OURTARNAME="${NAME}-${VERSION}.tar"
export OURZIPNAME="${NAME}-${VERSION}.zip"
export OURBZNAME="${NAME}-${VERSION}.bz2"

export OURSOURCE="${BUILDDIR}/SOURCES/${OURNAME}"
export OURTARSOURCE="${BUILDDIR}/DOWNLOADS/${OURTARNAME}"
export OURZIPSOURCE="${BUILDDIR}/DOWNLOADS/${OURZIPNAME}"
export OURBZSOURCE="${BUILDDIR}/DOWNLOADS/${OURBZNAME}"

export OURURL="${REPO}/SOURCES/${OURNAME}"

export FAILEDRPMS="${OUTPUTDIR}/failed.txt"
export LOGFILE="${OUTPUTDIR}/${NAME}-${VERSION}.package.log"
export ERRFILE="${OUTPUTDIR}/${NAME}-${VERSION}.package.err"

export MYCRC="crc:$PACKAGE"
export MYEXT="ext:${PACKAGE}"
export MYDIRKEY="pkgdir:${PACKAGE}"
export MYKEY="filename:${PACKAGE}"
export MYRPM="rpm:${PACKAGE}"
export MYSPEC="specfile:${PACKAGE}"
export MYORGSPECKEY="org_specfile:$PACKAGE"

export MYVERSPEC="verifiedspecfile:${PACKAGE}"
export MYRPMSPEC="specfile:RPM:${PACKAGE}"
export MYSRPM="rpms:${PACKAGE}"
export MYSUM="sum:${PACKAGE}"
export MYURL="url:${PACKAGE}"
export MYSRCNAME="sourcefilename:${PACKAGE}"
export MYERR="error:{$PACKAGE}"
export MYNIT="NIT:${PACKAGE}"

export OURORGSOURCE=`redis-cli get $MYSRCNAME`
